
/*normal CSS*/
.title{
    font-size: 50px;
    margin-bottom: 20px;
}
.subtitle{
    font-size: 24px;
    margin-bottom: 10px;
}
.normal-text{
    font-size: 14px;
}

.btn{
    border: 2px black solid;
    border-radius: 5px;
    background-color: #fff;
}
.sub-btn{
    border: 2px black solid;
    border-radius: 10px;
    background-color: #fff;
    font-size: 12px;
    width: 72px;
    height: 33px;
}
.big-btn{
    border: 2px black solid;
    border-radius: 10px;
    background-color: #fff;
    font-size: 20px;
    width: 300px;
    height: 60px;
}
.align-middle{
    display: flex;
    flex-direction: column;
   align-items: center;
}
.img-container img{
    width: 100%;
}
/*組件*/

.video-manual{
    width: 400px;
    height: 300px;
    border: 2px black solid;
    border-radius: 5px;
    background-color: #fff;
    align-self: center;
    margin-bottom: 20px;
}

.preview-game-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

<<<<<<< Updated upstream
/*nav-bar*/
.navbar{
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    border: 2px black solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    z-index: 3;
    
}
.navbar .logo{
    width: 80px;
    border: 2px black solid;
    text-align: center;
    vertical-align: middle;
}
.navbar .nav-links-list{
    display: flex;
    align-items: center;
} 

.navbar .nav-link{
    margin-right: 20px;
    text-decoration: none;
=======
.sub-input{
    display: none;
>>>>>>> Stashed changes
}